# -*- mode: python -*-

import os

block_cipher = None

a = Analysis(['%s/bin/telomerecat' % (telomerecat_dir,)],
             pathex=[os.getcwd()],
             hiddenimports=['telomerecat',
                            'platform',
                            'sklearn',
                            'pysam',
                            'pysam.csamtools',
                            'pysam.ctabix',
                            'pysam.ctabixproxies'],
             hookspath=None,
             runtime_hooks=None,
             excludes=None)

pyz = PYZ(a.pure)

exe = EXE(pyz,
          a.scripts,
          a.binaries,
          a.zipfiles,
          a.datas,
          name='telomerecat',
          debug=False,
          strip=None,
          upx=True,
          console=True )
